{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container form-group">
    <hr>
        <form action="" method="POST">{% csrf_token %}
            {% if entry %}
                   <h1> Edit {{ entry.description }} </h1>
            {% endif %}
            {% for field in form %}
            <label> {{ field.label }} </label>
            {{ field | add_class:'form-control' }}
                <!-- <input name="{{ field.name }}" type="{{field.name}}" class="form-control"> -->
            {% endfor %}
            <br>
                <button type="submit" class="btn btn-primary">Done</button>
        </form>
</div>

    
{% endblock %}