{% extends 'base.html' %}

{% block content %}
<div class="container form-group">
    <hr>
        <form action="" method="POST">{% csrf_token %}
            {% if entry %}
                   <h1> Edit {{ entry.description }} </h1>
            {% endif %}
            {% for field in form %}
            <label> {{ field.label }} </label>
            {{field }}
                <!-- <input name="{{ field.name }}" type="{{field.name}}" class="form-control" value=""> -->
            {% endfor %}
            <br>
                <button type="submit" class="btn btn-primary">Add Entry</button>
        </form>
</div>

    
{% endblock %}